/* Scroll Bar Properties  */

/* height */
::-webkit-scrollbar {
	height: 0.9vh;
	width: 0.45vw;
}

/* Track */
::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 1px white;  */
	background-color: rgb(235, 235, 235);
	border-radius: 2vh;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #b4b4b4;
	border-radius: 2vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #b4b4b4;
}
